html,
body {
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #fffaf2;
  color: #4a4844 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 1200px;
  margin: 0px auto;
}

a {
  color: #4a4844 !important;
}

.active {
  text-decoration: underline;
}

.navigation__hamburger {
  border: none;
  color: #4a4844 !important;
}

.navigation__hamburger:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 767px) {
  .navigation__collapse {
    background-color: #e8e2d1;
  }
}

.footer__container {
  border-top: solid 3px #e8e2d1;
  margin: 20px 0px 0px 0px;
  padding: 20px 0px;
  gap: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__container p {
  margin-bottom: 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__container a {
  text-decoration: none;
}

.linkedin img {
  max-width: 62px;
}

.linkedin p {
  padding-left: 6px;
}

.email {
  margin-bottom: 10px;
}

.email img {
  max-width: 56px;
}

.welcome__message {
  margin-top: 50px !important;
  max-width: 600px;
  margin: 0 auto;
}

.projects__container {
  margin-top: 90px;
}

.projects__container img {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 10px 1px #4a4844;
          box-shadow: 2px 2px 10px 1px #4a4844;
}

.projects__container img:hover {
  opacity: 0.6;
}

.about__container h4 {
  margin-top: 20px;
}

.education__container {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.education__specific {
  background-color: #e8e2d1;
  border-radius: 3px;
  padding: 10px;
}

.contact__container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e8e2d1;
  padding: 50px;
  text-align: center;
}

.urbanhome__image {
  width: 100%;
}

.urbanhome__button {
  padding: 5px;
  background-color: #d5a466 !important;
  border-radius: 5px;
  color: white !important;
  text-decoration: none;
}

.urbanhome__button:hover {
  background-color: transparent !important;
  border: solid #d5a466;
  color: #4a4844 !important;
}

.urbanhome__container {
  text-align: center;
}

.urbanhome__container img {
  margin: 20px 0px;
  border-radius: 3px;
}

.veggie__container {
  text-align: center;
}

.veggie__container img {
  border-radius: 3px;
}

.veggie__button {
  padding: 5px;
  background-color: #247251 !important;
  border-radius: 5px;
  color: white !important;
  text-decoration: none;
}

.veggie__button:hover {
  background-color: transparent !important;
  border: solid #247251;
  color: #4a4844 !important;
}

.veggie__image {
  width: 100%;
  margin: 40px 0px;
  padding: 0px 12px;
}

.veggie__group img {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .veggie__group img {
    margin: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */