html,
body {
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #fffaf2;
  color: #4a4844 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 1200px;
  margin: 0px auto;
}

a {
  color: #4a4844 !important;
}

.active {
  text-decoration: underline;
}

.navigation__hamburger {
  border: none;
  color: #4a4844 !important;
}

.navigation__hamburger:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 767px) {
  .navigation__collapse {
    background-color: #e8e2d1;
  }
}

.footer__container {
  border-top: solid 3px #e8e2d1;
  margin: 20px 0px 0px 0px;
  padding: 20px 0px;
  gap: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__container p {
  margin-bottom: 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__container a {
  text-decoration: none;
}

.linkedin img {
  max-width: 62px;
}

.linkedin p {
  padding-left: 6px;
}

.email {
  margin-bottom: 10px;
}

.email img {
  max-width: 56px;
}

.welcome__message {
  margin-top: 50px !important;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.projects__container {
  max-width: 800px;
  margin: 60px auto;
}

.projects__container img:hover {
  opacity: 0.6;
}

.project__card {
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 10px 1px #4a4844;
          box-shadow: 2px 2px 10px 1px #4a4844;
}

.card__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.projects__container a {
  text-decoration: none;
}

.projects__container .button {
  background-color: #e8e2d1;
  border: solid 3px white;
}

.projects__container .button:hover {
  border: solid 3px #e8e2d1;
  background-color: #e8e2d1;
}

.about__container h4 {
  margin-top: 40px;
}

.contact__button {
  padding: 10px 15px;
  border: solid 1px;
  border-color: #4a4844;
  text-decoration: none;
  border-radius: 3px;
  background-color: #e8e2d1;
  margin: 20px auto;
}

.contact__button:hover {
  border: none;
}

.education__container {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.education__specific {
  background-color: #e8e2d1;
  border-radius: 3px;
  padding: 10px;
}

.contact__container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e8e2d1;
  padding: 50px;
  text-align: center;
}

.urbanhome__container {
  text-align: center;
}

.urbanhome__container img {
  border-radius: 3px;
}

.urbanhome__logo {
  width: 60%;
}

.urbanhome__description {
  margin: 30px auto 40px auto;
}

.urbanhome__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.urbanhome__button {
  padding: 10px;
  background-color: #d5a466 !important;
  border-radius: 5px;
  color: white !important;
  text-decoration: none;
}

.urbanhome__button:hover {
  background-color: transparent !important;
  border: solid #d5a466;
  color: #4a4844 !important;
}

.urbanhome__image {
  width: 100%;
  margin: 20px 0px;
}

@media (max-width: 767px) {
  .urbanhome__image-rows img {
    margin-bottom: 20px;
  }
}

.urbanhome__paragraph-small {
  padding: 20px;
  background-color: #e8e2d1;
  margin: 20px 0px;
}

@media (max-width: 767px) {
  .urbanhome__paragraph-small {
    margin: 0px 0px 20px 0px;
  }
}

.urbanhome__paragraph-small p {
  margin: 10px;
}

.shareish__container {
  text-align: center;
}

.shareish__container img {
  border-radius: 3px;
}

.shareish__description {
  margin: 30px auto 40px auto;
}

.shareish__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shareish__button {
  background: -webkit-gradient(linear, right bottom, left top, from(#d22f8c), to(#fc782e));
  background: linear-gradient(to left top, #d22f8c, #fc782e);
  color: white !important;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.shareish__button:hover {
  border: solid transparent;
  background: -webkit-gradient(linear, right bottom, left top, from(#d22f8c), to(#fc782e)), -webkit-gradient(linear, right bottom, left top, from(#d22f8c), to(#fc782e));
  background: linear-gradient(to left top, #d22f8c, #fc782e), linear-gradient(to left top, #d22f8c, #fc782e);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  color: white;
}

.shareish__image {
  width: 100%;
  margin: 40px 0px;
  padding: 0px 12px;
}
/*# sourceMappingURL=styles.css.map */