.about__container h4 {
  margin-top: 40px;
}

.contact__button {
  padding: 10px 15px;
  border: solid 1px;
  border-color: $color-primary;
  text-decoration: none;
  border-radius: 3px;
  background-color: $color-secondary;
  margin: 20px auto;
}

.contact__button:hover {
  border: none;
}

.education__container {
  display: grid;
  gap: 20px;
}

.education__specific {
  background-color: $color-secondary;
  border-radius: 3px;
  padding: 10px;
}