.about__container h4 {
  margin-top: 20px;
}

.education__container {
  display: grid;
  gap: 20px;
}

.education__specific {
  background-color: $color-secondary;
  border-radius: 3px;
  padding: 10px;
}
