.welcome__message {
  margin-top: 50px !important;
  max-width: 600px;
  margin: 0 auto;
}

.projects__container {
  margin-top: 90px;
}

.projects__container img {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 3px;

  &:hover {
    opacity: 0.6;
  }
}
