.urbanhome__image {
  width: 100%;
}

.urbanhome__button {
  padding: 5px;
  background-color: #d5a466 !important;
  border-radius: 5px;
  color: white !important;
  text-decoration: none;

  &:hover {
    background-color: transparent !important;
    border: solid #d5a466;
    color: $color-primary !important;
  }
}

.urbanhome__container {
  text-align: center;

  & img {
    margin: 20px 0px;
    border-radius: 3px;
  }
}
